@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Kentico.Content.Web.Mvc
@using Xperience.Core.Events

@model RegistrationModel

<form class="subscribe-form" asp-action="Register" asp-controller="EventRegistrationFormWidget" asp-antiforgery="true" onsubmit="replaceForm(event)">
    <component-properties-data />
    <page-data />

    <div class="form-group">
        <div class="form-group-label">
            <label asp-for="FirstName"></label>
        </div>
        <div class="form-group-input">
            <input asp-for="FirstName" />
        </div>
        <div class="form-group-label">
            <label asp-for="LastName"></label>
        </div>
        <div class="form-group-input">
            <input asp-for="LastName" />
        </div>
        <div class="form-group-label">
            <label asp-for="Email"></label>
        </div>
        <div class="form-group-input">
            <input asp-for="Email" />
            <span asp-validation-for="Email" class="message message-error"></span>
        </div>
    </div>

    <input id="btnRegister" type="submit" value="Register" class="btn btn-primary" />
</form>